.pagination {
  --bs-pagination-color: #808080 !important;
  --bs-pagination-hover-color: #6d6d6d !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-border-color: var(--bs-danger-bg-subtle) !important;
  --bs-pagination-active-bg: var(--bs-danger) !important;
  --bs-pagination-hover-bg: var(--bs-danger-border-subtle) !important;
}